Django==1.5.1
mysql-python==1.2.4
South==0.8.1
django-registration==1.0
python-dateutil==2.1
numpy==1.7.1
django-tables2==0.13.0
coverage==3.6
django-discover-runner==1.0
model_mommy==1.0
django-debug-toolbar==0.9.4
mock==1.0.1
django-model-utils==1.4.0
